@page "/agradecimentos"
<br />
<div class="text-center">
<h1>Pesquisa Enviada!</h1>
<h4> Obrigado pela participação!</h4>
</div>
<br />
<br />
<hr />
<div class="text-center">
<NavLink class="nav-link" href="/">
    <button class="btn btn-lg btn-primary" type="button">Voltar</button>
</NavLink>
</div>

