@page "/forms"

<h2>Pesquisa de Sites e Plataformas de Streaming</h2>

    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Seu nome:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome">
      <small id="emailHelp" class="form-text text-muted">Nunca divulgaremos seus dados com ninguém.</small>
    </div>
        <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Você Concorda com exibição de filmes gratuitos com anúncios e outras desvantagens que não possuem nos Streamings pagos?</label>
      <select class="form-select" id="exampleSelect1">
        <option>Sim</option>
        <option>Não</option>
        <option>Indiferente</option>
      </select>
    </div>
        <fieldset class="form-group">
      <legend class="mt-4">Sua Idade</legend>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Maior de 18 Anos</label>
      </div>
    </fieldset>
     <fieldset class="form-group">
      <legend class="mt-4">Sites de filmes favoritos</legend>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          TopFlix
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Rede Canais
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Vizer
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Amazon Prime Video
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Netflix
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          SuperFlix
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          PobreFlix
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          AssistirFilmesOnlineHD
        </label>
      </div>
            <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          GoFilmes
        </label>
      </div>
    </fieldset>
<br />
<NavLink class="nav-link" href="Agradecimentos">
    <button class="btn btn-lg btn-primary" type="button">Enviar</button>
</NavLink>