@page "/"

<style type="text/css">
</style>
<div class="text-center">
<h1>Seja Bem vindo!</h1>
<h2> à </h2>
<h2> Pagina de sites de Filmes do Luccas! </h2>

<div class="text-center">
<NavLink class="nav-link" href="Listadesites">
    <button class="btn btn-lg btn-primary" type="button">Lista de Sites</button>
</NavLink>
<br />
<NavLink class="nav-link" href="Forms">
    <button class="btn btn-lg btn-primary" href="/forms" type="button">Pesquisa de Favoritos</button>
</NavLink>
</div>
<br />
<hr />
</div>
<div class="text-center">
<SurveyPrompt Title="Aproveite e Acesse minhas Redes Sociais!:" /> 
</div>
<div class="text-center">
<h5>Dê uma olhada também no Linkedin da Minha Instrutora</h5>
<br />
<NavLink class="nav-link" href="https://www.linkedin.com/in/rita-barbosa-074641/">
    <button class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/rita-barbosa-074641/" type="button">Linkedin da Rita</button>
</NavLink>
</div>