@page "/Listadesites"

<h1>Link dos Sites</h1>
<hr />
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Vizer</th>
      <td><a href="https://vizer.tv/">https://vizer.tv/</a></td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Amazon Prime Video</th>
      <td><a href="https://www.primevideo.com/">https://www.primevideo.com/></a></td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Netflix</th>
      <td><a href="https://www.netflix.com/">https://www.netflix.com/></a></td>
    </tr>
    <tr class="table-success">
      <th scope="row">RedeCanais</th>
      <td><a href="https://redecanais.to/">https://redecanais.to/></a></td>
    </tr>
    <tr class="table-danger">
      <th scope="row">SuperFlix</th>
      <td><a href="https://superflix.ws/">https://superflix.ws/></a></td>
    </tr>
    <tr class="table-warning">
      <th scope="row">AssistirFilmesOnlineHD</th>
      <td><a href="https://assistirfilmesonlinehd.org/">https://assistirfilmesonlinehd.org/></a></td>
    </tr>
    <tr class="table-info">
      <th scope="row">TopFlix</th>
      <td><a href="https://topflix.fm/">https://topflix.fm/></a></td>
    </tr>
    <tr class="table-light">
      <th scope="row">GoFilmes</th>
      <td><a href="https://gofilmes.me/s/">https://gofilmes.me/s/></a></td>
    </tr>
    <tr class="table-dark">
      <th scope="row">PobreFlix</th>
      <td><a href="https://pobreflix.biz/">https://pobreflix.biz/></a></td>
    </tr>
  </tbody>
</table>