
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Principal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Listadesites">
                <span class="oi oi-aperture" aria-hidden="true"></span> Lista de Sites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Forms">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Pesquisa de Avaliação
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
    <footer class="border-top footer text">
        <div class="container">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            &copy; 2022 - LuccasSilva
        </div>
    </footer>
